.jumbotron {
    margin: auto;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: rgb(137, 137, 137) 0px 2px 4px 0px;
}
form {
    margin-left: 5px;
}

a.btn {
    margin-left: 5px;
}

button {
    box-shadow: rgb(137, 137, 137) 0px 2px 4px 1px;
    margin-left: 5px;
}

button:hover {
    box-shadow: rgb(72, 71, 94) 0px 0px 0px 0px;
}

a.btn {
    box-shadow: rgb(137, 137, 137) 0px 2px 4px 1px;
    margin-left: 5px;
}

a.btn:hover  {
    box-shadow: rgb(137, 137, 137) 0px 0px 0px 0px;
}   

.card {
    margin: auto;
    width: 100%;
    box-shadow: rgb(137, 137, 137) 0px 2px 4px 0px;
    
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: auto;
    width: 100%;
    /* margin: space-around; */
}


 @media all and (max-width: 520px) {
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        height: auto; 
         width: 100%;
        margin: space-around;
        padding: auto;
    }

    h1.display-4 {
        font-size: 2.2rem;
    }
}

